body{
  background: #ddd;
  margin: 0;
  padding: 0;
}
.header{
  background: red;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.header h1{
  margin: 0;
}
.header a{
  color: white;
}

.contentArea{
  max-width: 980px;
  margin: 0 auto 40px;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.listArea, .userDetails{
  border: 1px solid #666;
  padding: 20px;
  margin-bottom: 10px;
}

.listItem{
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 10px;
}

.listItem li{
  list-style: none;
}

.leftPane{
  float: left;
  width: 65%;
}

.rightPane{
  float: right;
  width: 30%;

}

.leftPane, .rightPane{
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #666;
  min-height: 250px;
}

.testComponent{
  background: #fff;
  text-align: center;
  color: orange;
  padding: 20px
}